.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-color: pink;
    /* Set a specific height */
    height: 50px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Chewy', cursive;
    color: #a27ee6;
    font-size: 1.6rem;
  }

  